


{% extends 'backAdmin.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
    <style>
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        }

        /* Modal Content */
        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        /* The Close Button */
        .close {
            color: #aaaaaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: #000;
            text-decoration: none;
            cursor: pointer;
        }
    </style>
{% endblock %}
{% block content %}
    <h1>Edit</h1>

    {% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(edit_form, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_row(edit_form.nomCours) }}
    {{ form_row(edit_form.Module) }}
    {{ form_row(edit_form.admin) }}
    {{ form_row(edit_form.brochure) }}


    <input type="submit" value="Edit" class="btn btn-info" />
    {% if not edit_form.vars.valid %}

        <!-- The Modal -->
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <div class="col-6" align="center">
                        <span style="font-size: 3em; color: Tomato;">
  <i class="fas fa-warning"></i>
</span>
                    <h3>PLEASE VERIFY YOUR ENTRIES</h3>
                    <ul>
                        {# Loop through every form item #}
                        {% for child in edit_form.children %}
                            {# Display the errors of the form item #}
                            {%for error in child.vars.errors%}
                                <li style="color: red">*{{error.message}}*</li>
                                <br>
                            {%endfor%}
                        {%endfor%}
                    </ul>
                </div>

            </div>

        </div>
        <script>

            var modal = document.getElementById("myModal");
            var span = document.getElementsByClassName("close")[0];
            modal.style.display = "block";
            span.onclick = function() {
                modal.style.display = "none";
            }
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }}
        </script>



    {% endif %}
    {{ form_end(edit_form) }}
    <br>
    <br>
    <ul>
        <li>
            <a href="{{ path('lessons_index') }}">Back to the list</a>
        </li>
        <br>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>


{% endblock %}