{% extends 'backAdmin.html.twig' %}

{% block content %}

    <br>

    <br>
    <BR>
    <!-- Static Table Start -->
    <div class="gcse-searchbox-only" data-resultsUrl="https://googlecustomsearch.appspot.com/elementv2/two-page_results_elements_v2.html?query=test"></div>
<hr>
    <div class="data-table-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="sparkline13-list">
                        <div class="sparkline13-hd">
                            <div class="main-sparkline13-hd">
                                <h1>Lessons</h1>
                            </div>
                        </div>
                        <div class="sparkline13-graph">

                            <div class="datatable-dashv1-list custom-datatable-overright">


                                <table id="table"  data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                       data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar" class="sortable">
                                    <thead>
                                    <tr>

                                        <th data-field="xx" >Title</th>
                                        <th data-field="id" >module</th>
                                        <th data-field="name" data-editable="false">file</th>
                                        <th data-field="email" data-editable="false">teacher</th>



                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for l in lessons %}
                                        <tr>

                                            <td> {{l.nomCours}}</td>
                                            <td> {{l.Module}}</td>

                                            <td><a download href="{{ asset('/../uploads/brochures/'~ l.brochureFilename) }}">{{l.brochureFilename}}</a></td>

                                            <td> {{l.admin}}</td>

                                            <td>   {% if ((is_granted('ROLE_ADMIN')) ) or ((is_granted('ROLE_TEACHER')) )  %}<a href="{{ path('lessons_edit', { 'id': l.id }) }}"><button type="button" class="btn btn-success">Edit</button></a>
                                                {% endif %}
                                                <a href="{{ path('lessons_show', { 'id': l.id }) }}"><button type="button" class="btn btn-info">Show</button></a>


                                            </td>

                                        </tr>
                                        <center> <div id="player" src=""></div> </center>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Static Table End -->
{% endblock %}
{% block javascripts %}
    <script>



    </script>
    <!-- data table JS
		============================================ -->

    <script src="{{ asset('kiaalap-master/kiaalap-master/js/data-table/bootstrap-table.js')}}"></script>
    <script src="{{ asset('kiaalap-master/kiaalap-master/js/data-table/tableExport.js')}}"></script>
    <script src="{{ asset('kiaalap-master/kiaalap-master/js/data-table/data-table-active.js')}}"></script>
    <script src="{{ asset('kiaalap-master/kiaalap-master/js/data-table/bootstrap-table-editable.js')}}"></script>
    <script src="{{ asset('kiaalap-master/kiaalap-master/js/data-table/bootstrap-editable.js')}}"></script>
    <script src="{{ asset('kiaalap-master/kiaalap-master/js/data-table/bootstrap-table-resizable.js')}}"></script>
    <script src="{{ asset('kiaalap-master/kiaalap-master/js/data-table/colResizable-1.5.source.js')}}"></script>
    <script src="{{ asset('kiaalap-master/kiaalap-master/js/data-table/bootstrap-table-export.js')}}"></script>
    <script src="{{ asset('m.js') }}"></script>
    <script async src="https://cse.google.com/cse.js?cx=000888210889775888983:pqb3ch1ewhg"></script>
    <script>
        // 2. This code loads the IFrame Player API code asynchronously.
        var tag = document.createElement('script');

        tag.src = "https://www.youtube.com/iframe_api";
        var firstScriptTag = document.getElementsByTagName('script')[0];
        firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

        // 3. This function creates an <iframe> (and YouTube player)
        //    after the API code downloads.
        var player;
        function onYouTubeIframeAPIReady() {
            player = new YT.Player('player', {
                height: '390',
                width: '640',
                videoId: 'M7lc1UVf-VE',
                events: {
                    'onReady': onPlayerReady,
                    'onStateChange': onPlayerStateChange
                }
            });
        }

        // 4. The API will call this function when the video player is ready.
        function onPlayerReady(event) {
            event.target.playVideo();
        }

        // 5. The API calls this function when the player's state changes.
        //    The function indicates that when playing a video (state=1),
        //    the player should play for six seconds and then stop.
        var done = false;
        function onPlayerStateChange(event) {
            if (event.data == YT.PlayerState.PLAYING && !done) {
                setTimeout(stopVideo, 6000);
                done = true;
            }
        }
        function stopVideo() {
            player.stopVideo();
        }
    </script>

{% endblock %}

