{% extends 'backAdmin.html.twig' %}

{% block content %}
    <h1>cours</h1>

    <table class="table table-sm">
        <thead>
        <tr>

            <th data-field="xx" data-editable="false">Title</th>
            <th data-field="email" data-editable="fasle">module</th>
            <th data-field="email" data-editable="fasle">teacher</th>
            <th data-field="name" data-editable="false">file</th>

        </tr>
        </thead>

        <tr class=" bg-info">

            <td> {{lesson.nomCours}}</td>

            <td> {{lesson.Module}}</td>
            <td> {{lesson.admin}}</td>
            <td><a href="{{ asset('/../public/uploads/brochures/' ~ lesson.brochureFilename) }}">{{lesson.brochureFilename}}</a></td>


        </tr>

    </table>

    <ul>
        <li>
            <a href="{{ path('lessons_index') }}"><button type="button" class="btn btn-info">Back to the list</button></a>
            <a href="{{ path('lessons_edit', { 'id': lesson.id }) }}"><button type="button" class="btn btn-success">Edit</button></a>
        </li>
        <br>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    <br>
{% endblock %}
