{% extends 'backAdmin.html.twig' %}

{% block content %}

    <br>

    <br>
    <BR>
    <div class="gcse-searchbox-only" data-resultsUrl="https://googlecustomsearch.appspot.com/elementv2/two-page_results_elements_v2.html?query=test"></div>
    <hr>
    <!-- Static Table Start -->
    <div class="data-table-area mg-b-15">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="sparkline13-list">
                        <div class="sparkline13-hd">
                            <div class="main-sparkline13-hd">
                                <h1>appointment List</h1>
                            </div>
                        </div>
                        <div class="sparkline13-graph">
                            <div class="datatable-dashv1-list custom-datatable-overright">

                                <table id="table"  data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                       data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar" class="sortable">
                                    <thead>
                                    <tr>
                                        <th data-field="cin" >cin</th>
                                        <th data-field="xx">nom</th>
                                        <th data-field="id" data-editable="false">prenom</th>
                                        <th data-field="date" data-editable="false">date</th>
                                        <th data-field="action">Action</th>

                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for r in rendezvouses %}
                                        <tr>
                                            <td> {{r.cin}}</td>
                                            <td> {{r.nom}}</td>
                                            <td> {{r.prenom}}</td>
                                            <td> {{r.date|date('d/m/Y')}}</td>
                                            <td> 
                                                <a href="{{ path('rendez_show', { 'id': r.id }) }}"><button type="button" class="btn btn-info">Show</button></a>
                                            </td>

                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Static Table End -->

    <ul>

    </ul>
{% endblock %}
{% block javascripts %}
    <script>



    </script>
    <!-- data table JS
		============================================ -->

    <script src="{{ asset('kiaalap-master/kiaalap-master/js/data-table/bootstrap-table.js')}}"></script>
    <script src="{{ asset('kiaalap-master/kiaalap-master/js/data-table/tableExport.js')}}"></script>
    <script src="{{ asset('kiaalap-master/kiaalap-master/js/data-table/data-table-active.js')}}"></script>
    <script src="{{ asset('kiaalap-master/kiaalap-master/js/data-table/bootstrap-table-editable.js')}}"></script>
    <script src="{{ asset('kiaalap-master/kiaalap-master/js/data-table/bootstrap-editable.js')}}"></script>
    <script src="{{ asset('kiaalap-master/kiaalap-master/js/data-table/bootstrap-table-resizable.js')}}"></script>
    <script src="{{ asset('kiaalap-master/kiaalap-master/js/data-table/colResizable-1.5.source.js')}}"></script>
    <script src="{{ asset('kiaalap-master/kiaalap-master/js/data-table/bootstrap-table-export.js')}}"></script>
    <script src="{{ asset('m.js') }}"></script>
    <script async src="https://cse.google.com/cse.js?cx=000888210889775888983:pqb3ch1ewhg"></script>

{% endblock %}

