{% extends 'backAdmin.html.twig' %}

{% block content %}
    <h1>Rendezvous</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>nom</th>
                <td>{{ rendezvous.nom }}</td>
            </tr>
            <tr>
                <th>prenom</th>
                <td>{{ rendezvous.prenom }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if rendezvous.date %}{{ rendezvous.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>

        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('rendez_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('rendez_edit', { 'id': rendezvous.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input class="btn btn-custon-four btn-primary" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
