{% extends 'base.html.twig' %}

{% block hey %}
<section class="content" >
    <div class="row" align="center">
        <div class="col-xs-12">
            <div class="box">
                <br></br>
                <div class="box-header"><center>
                        <h3 class="box-title" > &nbsp &nbsp &nbsp  APPOINTEMENT INFORMATION </h3></center>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">
                    &nbsp  &nbsp <table id="example2"  class="table table-bordered table-hover"  >
                        <thead>
                        <tr>

                            &nbsp  <tbody align="center">

                        <tr>
                <th>nom</th>
                <td>{{ rendezvous.nom }}</td>
            </tr>
            <tr>
                <th>prenom</th>
                <td>{{ rendezvous.prenom }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if rendezvous.date %}{{ rendezvous.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>

        </tbody>
                    </table>

    <ul>
        <li>
            <a href="{{ path('rendez_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('rendez_edit', { 'id': rendezvous.id }) }}"">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input class="btn btn-custon-four btn-primary" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>

{% endblock %}
