{% extends 'backAdmin.html.twig' %}

{% block content %}
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header"><center>
                        <br></br>
                        <h3 class="box-title">classes List </h3></center>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Level</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for class in classes %}
            <tr>
                <td><a href="{{ path('classes_show', { 'id': class.id }) }}">{{ class.id }}</a></td>
                <td>{{ class.name }}</td>
                <td>{{ class.level }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('classes_show', { 'id': class.id }) }}" class="btn btn-danger">show</a>
                        </li>
                        <li>
                            <a href="{{ path('classes_edit', { 'id': class.id }) }}" class="btn btn-success">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('classes_new') }}">Create a new class</a>
        </li>
    </ul>
{% endblock %}
