<nav class="sidebar-nav left-sidebar-menu-pro">
    <ul class="metismenu" id="menu1">
        <li class="active">
            <a class="has-arrow" href="{{ asset('kiaalap-master/kiaalap-master/index.html')}}">
                <span class="educate-icon educate-home icon-wrap"></span>
                <span class="mini-click-non">Education</span>
            </a>
            <ul class="submenu-angle" aria-expanded="true">

                <li><a title="Dashboard v.1" href="{{ asset('kiaalap-master/kiaalap-master/index.html')}}"><span class="mini-sub-pro">Dashboard v.1</span></a></li>
                <li><a title="Dashboard v.2" href="{{ asset('kiaalap-master/kiaalap-master/index-1.html')}}"><span class="mini-sub-pro">Dashboard v.2</span></a></li>
                <li><a title="Dashboard v.3" href="{{ asset('kiaalap-master/kiaalap-master/index-2.html')}}"><span class="mini-sub-pro">Dashboard v.3</span></a></li>
                <li><a title="Analytics" href="{{ asset('kiaalap-master/kiaalap-master/analytics.html')}}"><span class="mini-sub-pro">Analytics</span></a></li>
                <li><a title="Widgets" href="{{ asset('kiaalap-master/kiaalap-master/widgets.html')}}"><span class="mini-sub-pro">Widgets</span></a></li>
            </ul>
        </li>
        <li>
            <a title="Landing Page" href="{{ asset('kiaalap-master/kiaalap-master/events.html')}}" aria-expanded="false"><span class="educate-icon educate-event icon-wrap sub-icon-mg" aria-hidden="true"></span> <span class="mini-click-non">Event</span></a>
        </li>

    </ul>
</nav>
</div>
</nav>