{% extends 'backAdmin.html.twig' %}

{% block content %}


<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header"><center>
                        <h3 class="box-title"> approved students </h3></center>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                        <tr>


                <th>Nom</th>
                <th>Prenom</th>
                <th>Annee scolaire</th>
                <th>Niveau scolaire</th>
                <th>Frais de scolarite</th>
                <th>Typepayment</th>
                <th> nombre de mois </th>
                <th>Etat</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for application in applications %}
            <tr>

                <td>{{ application.nom }}</td>
                <td>{{ application.prenom }}</td>
                <td>{{ application.anneeScolaire }}</td>
                <td>{{ application.niveauScolaire }}</td>
                <td>{{ application.frais }}</td>
                <td>{{ application.typePayment }}</td>
                <td>{{ application.nombremoispayer }}</td>
                <td>{{ application.etat }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('application_show', { 'id': application.id }) }}"class="btn btn-danger">show</a>
                        </li>
                        <li>
                            <a href="{{ path('application_edit', { 'id': application.id }) }}"class="btn btn-success">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('application_new') }}">Create a new application</a>
        </li>
    </ul>
{% endblock %}
