{% extends 'backAdmin.html.twig' %}

{% block content %}
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <br></br
                <div class="box-header"><center>
                        <h3 class="box-title">STUDENT info</h3></center>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                        <tr>

                        <tbody>


                        <tr>
                <th>Nom</th>
                <td>{{ application.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ application.prenom }}</td>
            </tr>
            <tr>
                <th>Année scolaire</th>
                <td>{{ application.anneeScolaire }}</td>
            </tr>
            <tr>
                <th> Niveau scolaire</th>
                <td>{{ application.niveauScolaire }}</td>
            </tr>
            <tr>
                <th>Frais de scolarite</th>
                <td>{{ application.frais }}</td>
            </tr>
            <tr>
                <th>Type payment</th>
                <td>{{ application.typePayment }}</td>
            </tr>
            <tr>
                <th>Nombre de mois payé</th>
                <td>{{ application.nombremoispayer }}</td>
            </tr>
            <tr>
                <th>Etat</th>
                <td>{{ application.etat }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('application_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('application_edit', { 'id': application.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-custon-four btn-primary" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
