{% extends 'backAdmin.html.twig' %}
{% block content %}
    <h1>Categorybook</h1>

<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <br></br
                <div class="box-header"><center>
                        <h3 class="box-title">STUDENT info</h3></center>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                        <tr>

                        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categoryBook.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ categoryBook.name }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('categorybook_index') }}" class="btn btn-info">Back to the list</a>

            <a href="{{ path('categorybook_edit', { 'id': categoryBook.id }) }}" class="btn btn-warning">Edit</a>

            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
