{% extends 'backAdmin.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css">
    <style>
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
padding-top: 100px; /* Location of the box */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
background-color: #fefefe;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
}

/* The Close Button */
.close {
color: #aaaaaa;
float: right;
font-size: 28px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}
</style>
{% endblock %}
{% block content %}
    <h1>Event edit</h1>

{% form_theme edit_form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(edit_form, {'attr': {'novalidate': 'novalidate'}}) }}

    {{ form_row(edit_form.title) }}
    {{ form_row(edit_form.startDate,{'attr': {'class': 'js-datepicker'}}) }}
<h6 style="color:red"  id="er2">*Invalid date (must be superior of today)</h6>
        {{ form_row(edit_form.startHour) }}
        {{ form_row(edit_form.description) }}
    {{ form_row(edit_form.searchKey) }}
        {{ form_row(edit_form.logo, {'attr': {'class': 'image','onchange':'validateImage()'}}) }}
        <h6 style="color:red"  id="er">*Invalid image</h6>
                {{ form_row(edit_form.idClub) }}
                {{ form_row(edit_form.idClassroom) }}
                {{ form_row(edit_form.equipements) }}

                <input type="submit" value="Edit" class="btn btn-info" />
    {% if not edit_form.vars.valid %}

        <!-- The Modal -->
        <div id="myModal" class="modal">

            <!-- Modal content -->
            <div class="modal-content">
                <span class="close">&times;</span>
                <div class="col-6" align="center">
                        <span style="font-size: 3em; color: Tomato;">
  <i class="fas fa-warning"></i>
</span>
                    <h3>PLEASE VERIFY YOUR ENTRIES</h3>
                    <ul>
                        {# Loop through every form item #}
                        {% for child in edit_form.children %}
                            {# Display the errors of the form item #}
                            {%for error in child.vars.errors%}
                                <li style="color: red">*{{error.message}}*</li>
                                <br>
                            {%endfor%}
                        {%endfor%}
                    </ul>
                </div>

            </div>

        </div>
        <script>

            var modal = document.getElementById("myModal");
            var span = document.getElementsByClassName("close")[0];
            modal.style.display = "block";
            span.onclick = function() {
                modal.style.display = "none";
            }
            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }}
        </script>



    {% endif %}
                {{ form_end(edit_form) }}
<br>
<br>
    <ul>
        <li>
            <a href="{{ path('event_index') }}">Back to the list</a>
        </li>
        <br>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
{% block javascripts %}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>

    <script type="text/javascript">
        $(function()
        {
            $('.js-datepicker').datepicker();
            $("#er").hide();
            $("#er2").hide();
        });

        function validateImage() {
            var formData = new FormData();

            var file = document.getElementsByClassName("image").item(0).value;
            // alert(file);

            var t = file.slice(file.indexOf('.')+1,file.length).toLowerCase();
            //  alert(t);
            if (t != "jpeg" && t != "jpg" && t != "png" && t != "bmp" && t != "gif") {
                //  alert('Please select a valid image file');
                document.getElementsByClassName("image").item(0).value = '';
                $("#er").show();
                // alert('Invalid logo !');
                return false;
            }

            $("#er").hide();
            return true;
        }

                $(".js-datepicker").on('change', function () {
                    var selectedDate =new Date( $(this).val());
                    var todaysDate = new Date();

                    //alert(todaysDate+" "+selectedDate);
                    if (selectedDate < todaysDate) {
                      //  alert('Selected date must be greater than today date');
                        $(this).val('');
                        $("#er2").show();
                    }else
                    $("#er2").hide();
                });




    </script>
{% endblock %}