<div class="data-table-area mg-b-15">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="sparkline13-list">
                    <div class="sparkline13-hd">
                        <div class="main-sparkline13-hd">
                            <h1>Events List</h1>
                        </div>
                    </div>
                    <div class="sparkline13-graph">
                        <div class="datatable-dashv1-list custom-datatable-overright">

                            <table id="table"  data-toggle="table" data-pagination="true" data-search="true" data-show-columns="true" data-show-pagination-switch="true" data-show-refresh="true" data-key-events="true" data-show-toggle="true" data-resizable="true" data-cookie="true"
                                   data-cookie-id-table="saveId" data-show-export="true" data-click-to-select="true" data-toolbar="#toolbar">
                                <thead>
                                <tr>

                                    <th data-field="xx" data-editable="false">Title</th>
                                    <th data-field="id">Start Date</th>
                                    <th data-field="name" data-editable="false">Start Hour</th>
                                    <th data-field="email" data-editable="fasle">Description</th>
                                    <th data-field="phone" data-editable="false">Logo</th>
                                    <th data-field="complete">Club</th>
                                    <th data-field="task" data-editable="false">Classroom</th>
                                    <th data-field="action">Action</th>

                                </tr>
                                </thead>
                                <tbody>
                                {% for e in events %}
                                    <tr>

                                        <td> {{e.title}}</td>
                                        <td> {{e.startDate|date('d/m/Y')}}</td>
                                        <td> {{e.startHour|date('H:i')}}</td>
                                        <td> {{e.description}}</td>
                                        <td> <img src="{{ asset('uploads/issam_pic/')~e.logo }}"  style="width: 200px;
    height: 200px;
    object-fit: cover;
    object-position: center;
  display: block;
  margin-left: auto;
  margin-right: auto;"></td>

                                        <td> {{e.idClub}}</td>
                                        <td> {{ e.idClassroom }}</td>


                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>