{% extends 'backAdmin.html.twig' %}

{% block content %}
    <div id="container">
    <h1>Event</h1>

    <table class="table">
        <tbody>

            <tr>
                <th>Title</th>
                <td>{{ event.title }}</td>
            </tr>
            <tr>
                <th>Start Date</th>
                <td>{% if event.startDate %}{{ event.startDate|date('d/m/Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Start Hour</th>
                <td>{% if event.startHour %}{{ event.startHour|date('H:i') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ event.description }}</td>
            </tr>
            <tr>
                <th>Logo</th>
                <td><img src="{{ asset('uploads/issam_pic/')~ event.logo }}" width="200" height="200" style="display: block;
  margin-left: auto;
  margin-right: auto;"></td>
            </tr>

            <tr>

                <th>Equipements</th>
                <td>
                {% for q in event.equipements %}
                {{ q }} |
                {% endfor %}
                </td>
            </tr>

        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('event_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('event_edit', { 'id': event.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    </div>
{% endblock %}
