{% extends 'backAdmin.html.twig' %}

{% block content %}
    <h1>Club edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('club_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
{% block javascripts %}
    <script type="text/javascript">
        function validateImage() {
            var formData = new FormData();

            var file = document.getElementsByClassName("img").item(0).value;
            // alert(file);

            var t = file.slice(file.indexOf('.')+1,file.length).toLowerCase();
            //  alert(t);
            if (t != "jpeg" && t != "jpg" && t != "png" && t != "bmp" && t != "gif") {
                //  alert('Please select a valid image file');
                document.getElementsByClassName("img").item(0).value = '';
                return false;
            }

            return true;
        }
    </script>
{% endblock %}