{% extends 'backAdmin.html.twig' %}

{% block content %}
    <h1>Clubs list</h1>

    <table border="2px" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>President</th>
                <th>Description</th>
                <th>Category</th>
                <th>Creationdate</th>

                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for club in clubs %}
            <tr>
                <td><a href="{{ path('club_show', { 'id': club.id }) }}">{{ club.id }}</a></td>
                <td>{{ club.title }}</td>
                <td>{{ club.president }}</td>
                <td>{{ club.description }}</td>
                <td>{{ club.category }}</td>
                <td>{% if club.creationDate %}{{ club.creationDate|date('Y-m-d H:i:s') }}{% endif %}</td>

                <td>
                    <ul>
                        <li>
                            <a href="{{ path('club_show', { 'id': club.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('club_edit', { 'id': club.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('club_new') }}">Create a new club</a>
        </li>
    </ul>
{% endblock %}
