{% extends 'backAdmin.html.twig' %}

{% block content %}
    <h1>Club</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ club.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ club.title }}</td>
            </tr>
            <tr>
                <th>President</th>
                <td>{{ club.president }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ club.description }}</td>
            </tr>
            <tr>
                <th>Category</th>
                <td>{{ club.category }}</td>
            </tr>
            <tr>
                <th>Creationdate</th>
                <td>{% if club.creationDate %}{{ club.creationDate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Logo</th>

                <td><img src="{{ asset('uploads/issam_pic/')~ club.logo }}" width="200" height="200"></td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('club_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('club_edit', { 'id': club.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
