{% extends 'backAdmin.html.twig' %}

{% block content %}
    <h1>Club</h1>

    <table class="table table-sm">


            <tr class=" bg-info">
                <th>Title</th>
                <td>{{ club.title }}</td>
            </tr>
            <tr class="bg-primary">
                <th>President</th>
                <td >{{ club.president }}</td>
            </tr>
            <tr class="bg-success">
                <th>Description</th>
                <td>{{ club.description }}</td>
            </tr>
            <tr class="bg-danger">
                <th>Category</th>
                <td>{{ club.category }}</td>
            </tr>
            <tr class="bg-warning">
                <th>Creationdate</th>
                <td>{% if club.creationDate %}{{ club.creationDate|date('d/m/Y') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Logo</th>

                <td><img src="{{ asset('uploads/issam_pic/')~ club.logo }}" width="200" height="200" style="display: block;
  margin-left: auto;
  margin-right: auto;"></td>
            </tr>

    </table>

    <ul>
        <li>
            <a href="{{ path('club_index') }}"><button type="button" class="btn btn-info">Back to the list</button></a>
            <a href="{{ path('club_edit', { 'id': club.id }) }}"><button type="button" class="btn btn-success">Edit</button></a>
        </li>
        <br>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete" class="btn btn-danger">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    <br>
{% endblock %}
