{% extends 'backAdmin.html.twig' %}

{% block content %}
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header"><center>
                        <br></br>
                        <h3 class="box-title">classes List </h3></center>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Capacity</th>
                <th>Bloc</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for classroom in classrooms %}
            <tr>
                <td><a href="{{ path('classrooms_show', { 'id': classroom.id }) }}">{{ classroom.id }}</a></td>
                <td>{{ classroom.name }}</td>
                <td>{{ classroom.capacity }}</td>
                <td>{{ classroom.bloc }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('classrooms_show', { 'id': classroom.id }) }}" class="btn btn-danger">show</a>
                        </li>
                        <li>
                            <a href="{{ path('classrooms_edit', { 'id': classroom.id }) }}" class="btn btn-success">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('classrooms_new') }}">Create a new classroom</a>
        </li>
    </ul>
{% endblock %}
