{% extends 'backAdmin.html.twig' %}

{% block content %}
<section class="content">
<div class="row">
    <div class="col-xs-11">
        <div class="box">
            <div class="box-header"><center>
                    <br></br>
                    <h3 class="box-title">Classroom</h3></center>
            </div><!-- /.box-header -->
            <div class="box-body table-responsive">
                <table id="example2" class="table table-bordered table-hover">
                    <thead>
                        <tr>

                        <tbody>

                        <tr>
                <th>Id</th>
                <td>{{ classroom.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ classroom.name }}</td>
            </tr>
            <tr>
                <th>Capacity</th>
                <td>{{ classroom.capacity }}</td>
            </tr>
            <tr>
                <th>Bloc</th>
                <td>{{ classroom.bloc }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('classrooms_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('classrooms_edit', { 'id': classroom.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input class="btn btn-custon-four btn-primary" type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
            </div>
        </div>
    </div>
</div>
</section>
{% endblock %}
