{% extends 'backAdmin.html.twig' %}

{% block content %}
<section class="content">
    <div class="row">
        <div class="col-xs-12">
            <div class="box">
                <div class="box-header"><center>
                        <br></br>
                        <h3 class="box-title">equipemet List </h3></center>
                </div><!-- /.box-header -->
                <div class="box-body table-responsive">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
            <tr>
                <th>Id</th>
                <th>Label</th>
                <th>Category</th>
                <th>Qte</th>
                <th>Qteinit</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for equipement in equipements %}
            <tr>
                <td><a href="{{ path('equipement_show', { 'id': equipement.id }) }}">{{ equipement.id }}</a></td>
                <td>{{ equipement.label }}</td>
                <td>{{ equipement.category }}</td>
                <td>{{ equipement.qte }}</td>
                <td>{{ equipement.qteInit }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('equipement_show', { 'id': equipement.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('equipement_edit', { 'id': equipement.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('equipement_new') }}">Create a new equipement</a>
        </li>
    </ul>

{% endblock %}
