{% extends 'backAdmin.html.twig' %}

{% block content %}
    <br>
    <hr>
    <h1>Show This Schoolmeeting: {{ schoolmeeting.subject }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ schoolmeeting.id }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{% if schoolmeeting.date %}{{ schoolmeeting.date|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Subject</th>
                <td>{{ schoolmeeting.subject }}</td>
            </tr>
            <tr>
                <th>Concerned</th>
                <td>{{ schoolmeeting.concerned }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ schoolmeeting.type }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('schoolmeeting_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('schoolmeeting_edit', { 'id': schoolmeeting.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
